USE [master]
GO
/****** Object:  Database [QL_GYM]    Script Date: 4/13/2026 12:58:17 AM ******/
CREATE DATABASE [QL_GYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_GYM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_GYM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_GYM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_GYM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_GYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_GYM]
GO
/****** Object:  Table [dbo].[CheckIn]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckIn](
	[MaCheckIn] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [int] NOT NULL,
	[GioVao] [datetime] NULL,
	[GioRa] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[MaDK] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [int] NOT NULL,
	[MaGoi] [int] NOT NULL,
	[MaHLV] [int] NULL,
	[NgayDangKy] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[TongTien] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaKM] [int] NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_DangKy] PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyPT]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyPT](
	[MaDK_PT] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [int] NOT NULL,
	[MaHLV] [int] NOT NULL,
	[TongSoBuoi] [int] NOT NULL,
	[SoBuoiConLai] [int] NOT NULL,
	[ThanhTien] [decimal](18, 0) NULL,
	[NgayDangKy] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDK_PT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[MaDD] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [int] NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiTap]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTap](
	[MaGoi] [int] IDENTITY(1,1) NOT NULL,
	[TenGoi] [nvarchar](100) NOT NULL,
	[Gia] [money] NOT NULL,
	[ThoiHan] [int] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_GoiTap] PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HLV]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLV](
	[MaHLV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChuyenMon] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_HLV] PRIMARY KEY CLUSTERED 
(
	[MaHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaDK] [int] NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TongTien] [money] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiVien]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiVien](
	[MaHV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SDT] [nvarchar](15) NULL,
 CONSTRAINT [PK_HoiVien] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](100) NOT NULL,
	[PhanTramGiam] [int] NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[SDT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[SoLuongTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeNgay]    Script Date: 4/13/2026 12:58:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeNgay](
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
	[NgayBan] [datetime] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[TongTien]  AS ([SoLuong]*[DonGia]),
	[GhiChu] [nvarchar](100) NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CheckIn] ON 

INSERT [dbo].[CheckIn] ([MaCheckIn], [MaHV], [GioVao], [GioRa], [TrangThai]) VALUES (1, 1, CAST(N'2026-04-11T00:54:14.120' AS DateTime), CAST(N'2026-04-11T00:54:24.270' AS DateTime), N'Đã về')
INSERT [dbo].[CheckIn] ([MaCheckIn], [MaHV], [GioVao], [GioRa], [TrangThai]) VALUES (2, 1, CAST(N'2026-04-12T22:52:50.897' AS DateTime), NULL, N'Đang tập')
SET IDENTITY_INSERT [dbo].[CheckIn] OFF
GO
SET IDENTITY_INSERT [dbo].[DangKy] ON 

INSERT [dbo].[DangKy] ([MaDK], [MaHV], [MaGoi], [MaHLV], [NgayDangKy], [NgayHetHan], [TongTien], [GhiChu], [MaKM], [MaNV]) VALUES (1, 1, 1, 1, CAST(N'2026-04-11' AS Date), CAST(N'2026-05-11' AS Date), CAST(400000.00 AS Decimal(18, 2)), N'Mua mới', 1, NULL)
SET IDENTITY_INSERT [dbo].[DangKy] OFF
GO
SET IDENTITY_INSERT [dbo].[DangKyPT] ON 

INSERT [dbo].[DangKyPT] ([MaDK_PT], [MaHV], [MaHLV], [TongSoBuoi], [SoBuoiConLai], [ThanhTien], [NgayDangKy], [TrangThai]) VALUES (1, 1, 1, 24, 23, CAST(2400000 AS Decimal(18, 0)), CAST(N'2026-04-12T22:52:18.177' AS DateTime), N'Đang tập')
SET IDENTITY_INSERT [dbo].[DangKyPT] OFF
GO
SET IDENTITY_INSERT [dbo].[GoiTap] ON 

INSERT [dbo].[GoiTap] ([MaGoi], [TenGoi], [Gia], [ThoiHan], [GhiChu]) VALUES (1, N'Gói summer', 500000.0000, 30, N'')
SET IDENTITY_INSERT [dbo].[GoiTap] OFF
GO
SET IDENTITY_INSERT [dbo].[HLV] ON 

INSERT [dbo].[HLV] ([MaHLV], [HoTen], [ChuyenMon], [SDT], [TrangThai]) VALUES (1, N'Nghiêm Hồng Nhung', N'Gym', N'0987654321', N'Đang làm việc')
SET IDENTITY_INSERT [dbo].[HLV] OFF
GO
SET IDENTITY_INSERT [dbo].[HoiVien] ON 

INSERT [dbo].[HoiVien] ([MaHV], [HoTen], [NgaySinh], [GioiTinh], [SDT]) VALUES (1, N'Nguyễn Quốc Khánh', CAST(N'2004-08-20' AS Date), N'Nam', N'0779624173')
SET IDENTITY_INSERT [dbo].[HoiVien] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [PhanTramGiam], [NgayBatDau], [NgayKetThuc], [MoTa]) VALUES (1, N'Summer', 20, CAST(N'2026-04-11' AS Date), CAST(N'2026-04-15' AS Date), N'')
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenDangNhap], [MatKhau], [ChucVu], [TrangThai], [SDT]) VALUES (1, N'Quản Lý Tổng', N'admin', N'admin123', N'Admin', N'Đang làm việc', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenDangNhap], [MatKhau], [ChucVu], [TrangThai], [SDT]) VALUES (6, N'Nguyễn Quốc Khánh', N'khanh', N'khanh', N'Nhân viên', N'Đang làm việc', N'0779624173')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[TaiKhoan] ([Username], [Password], [Role]) VALUES (N'admin', N'123', N'Admin')
INSERT [dbo].[TaiKhoan] ([Username], [Password], [Role]) VALUES (N'staff', N'123', N'NhanVien')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__55F68FC07F5B19A3]    Script Date: 4/13/2026 12:58:17 AM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CheckIn] ADD  DEFAULT (getdate()) FOR [GioVao]
GO
ALTER TABLE [dbo].[CheckIn] ADD  DEFAULT (N'Đang tập') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DangKyPT] ADD  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[DangKyPT] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKyPT] ADD  DEFAULT (N'Đang tập') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DiemDanh] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm việc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[VeNgay] ADD  DEFAULT (getdate()) FOR [NgayBan]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_HoiVien] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_HoiVien]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_GoiTap] FOREIGN KEY([MaGoi])
REFERENCES [dbo].[GoiTap] ([MaGoi])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_GoiTap]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_HLV] FOREIGN KEY([MaHLV])
REFERENCES [dbo].[HLV] ([MaHLV])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_HLV]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_HoiVien] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_HoiVien]
GO
ALTER TABLE [dbo].[DangKyPT]  WITH CHECK ADD  CONSTRAINT [FK_DangKyPT_HLV] FOREIGN KEY([MaHLV])
REFERENCES [dbo].[HLV] ([MaHLV])
GO
ALTER TABLE [dbo].[DangKyPT] CHECK CONSTRAINT [FK_DangKyPT_HLV]
GO
ALTER TABLE [dbo].[DangKyPT]  WITH CHECK ADD  CONSTRAINT [FK_DangKyPT_HoiVien] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[DangKyPT] CHECK CONSTRAINT [FK_DangKyPT_HoiVien]
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DangKy] FOREIGN KEY([MaDK])
REFERENCES [dbo].[DangKy] ([MaDK])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DangKy]
GO
USE [master]
GO
